<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blah Blah Community</title>

    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/free_community.css}">
    <link rel="stylesheet" th:href="@{/css/free_modal.css}">
    <link rel="stylesheet" th:href="@{/css/community.css}">
<!--    <link rel="stylesheet" th:href="@{/css/cover_letter.css}">-->


    <th:block layout:fragment="css"></th:block>
</head>
<body>

<div th:replace="~{fragments/header :: headerFragment}"></div>

<div id="mainwrap">
    <div th:replace="~{fragments/aside_L :: asideLFragment}"></div>

    <main id="main" layout:fragment="content" class="mainComponent">
    </main>

    <div th:replace="~{fragments/aside_R :: asideRFragment}"></div>
</div>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

<div th:replace="~{fragments/popup :: popupFragment}"></div>


<script>
    window.myProfile = {
       userId: '[[${myProfile?.id}]]' === '' ? null : '[[${myProfile?.id}]]',
       email: '[[${myProfile?.email}]]' ? '[[${myProfile?.email}]]' : '',
       nickName: '[[${myProfile?.nickName}]]' ? '[[${myProfile?.nickName}]]' : ''
    };
</script>
<script src="/js/aside_L.js"></script>
<script src="/js/aside_R.js"></script>
<script src="/js/free_community.js"></script>
<script src="/js/cover_letter.js"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>