<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blah Blah Community</title>

    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/free_community.css}">
    <link rel="stylesheet" th:href="@{/css/free_modal.css}">
    <link rel="stylesheet" th:href="@{/css/community.css}">
    <link rel="stylesheet" th:href="@{/css/cover_letter.css}">
    <link rel="stylesheet" th:href="@{/css/profileCard.css}">


    <th:block layout:fragment="css"></th:block>
</head>
<body>

<div th:replace="~{fragments/header :: headerFragment}"></div>

<div id="mainwrap">
    <div th:replace="~{fragments/aside_L :: asideLFragment}"></div>

    <main id="main" layout:fragment="content" class="mainComponent">
    </main>

    <div th:replace="~{fragments/aside_R :: asideRFragment}"></div>
</div>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

<div th:replace="~{fragments/popup :: popupFragment}"></div>


<script>
    // Thymeleaf 변수가 null이면 빈 문자열('')로 처리하도록 수정
    window.myProfile = {
       userId: '[[${myProfile?.id}]]',
       email: '[[${myProfile?.email}]]',
       nickName: '[[${myProfile?.nickName}]]',
       nickName: '[[${myProfile?.nickName}]]',
       isOnline: '[[${myProfile?.onlineStatus}]]',
       // 저장된 값이 없으면(null) 빈 문자열로 치환
       profileImageUrl: '[[${myProfile?.profileImageUrl != null ? myProfile.profileImageUrl : ""}]]',
       stateMessage: '[[${myProfile?.stateMessage != null ? myProfile.stateMessage : ""}]]'
    };

    console.log("내 프로필 데이터 확인:", window.myProfile); // 콘솔에서 데이터 들어오는지 확인용
</script>
<script src="/js/aside_L.js"></script>
<script src="/js/aside_R.js"></script>
<script src="/js/free_community.js"></script>
<script src="/js/cover_letter.js"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>