<footer id="footer" th:fragment="footerFragment">
    <div class="footnavwrap">
        <ul class="footnav">
            <li><a href="javascript:void(0)">회사소개</a></li>
            <li>|</li>
            <li><a href="javascript:void(0)">이용약관</a></li>
            <li>|</li>
            <li><a href="javascript:void(0)">개인정보처리방침</a></li>
            <li>|</li>
            <li><a href="javascript:void(0)">위치기반서비스 이용약관</a></li>
            <li>|</li>
            <li><a href="javascript:void(0)">공지사항</a></li>
            <li>|</li>
            <li class="dropdown"><a href="javascript:void(0)">고객센터&#9662;</a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">일반 고객센터</a></li>
                    <li><a href="javascript:void(0)">비즈니스 고객센터</a></li>
                </ul>
            </li>
            <li>|</li>
            <li class="dropdown"><a href="javascript:void(0)">Language&#9662;</a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">한국어</a></li>
                    <li><a href="javascript:void(0)">English</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="footmainwarp">
        <div class="footmain">
            <div class="footsection">
                <h2>(주)블라블라</h2>
                <p>주소 | 대구광역시 중구 중앙대로 366 9층,10층<br>사업자 등록번호 | 010-75-74510<br>통신판매업신고 | 2024-대구수정-0912<br>통신사업증 등록번호 |
                    제2025-123456호<br>호스팅 서비스 제공자 | (주)블라블라 <br>대표이사 | 제미나이</p>
            </div>
            <div class="footsection">
                <h2>고객센터</h2>
                <p>일반 1588-5104 | 비즈니스 1544-5104<br>팩스 | 02-010-7777<br> 이메일 | fdsa5104@mail.com<br>
                    고객센터 1:1 문의 02-9876-5432<br></p>
            </div>
            <div class="footsection">
                <h2>전자금융거래 담당정보</h2>
                <p>일반 1588-5104 | 비즈니스 1544-5104<br>팩스 | 02-830-7574<br> 이메일 | fdsa5104@mail.com<br>개인정보책임자
                    | nightrwby@mail.com</p>
            </div>
        </div>
    </div>
    <div class="footbar">
        <div class="footbarwrap">
            <p>(주) 블라블라는 통신판매의 당사자가 아니므로, 상호간 계약, 거래 및 환불 등 거래와 관련된 의무와 책임은 거래 당사에 있으며, (주) 블라블라는 책임을 지지
                않습니다.</p>
            <p>ⓒ 2025 BlahBlah.sns.message Project</p>
        </div>
    </div>

</footer>