/* 기본 스타일 초기화 및 폰트 설정 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul,
li,
ol,
a {
    list-style: none;
    text-decoration: none;
    color: black;
}

:root {
    font-size: 16px;
}

body {
    overflow-x: hidden;
    background-color: rgb(247, 247, 247);
}

#wrapper {
    width: 100%;
}

#mainwrap {
    display: flex;
    padding: 20px;
    gap: 20px;
}

/* 헤더 ========================================================================================= */

#header {
    background-color: rgb(241, 241, 241);
    width: 100%;
    border-bottom: 1px solid;

}

#header .top-header {
    width: 100%;
    min-width: 450px;
    height: 110px;
    /* background-color: rgb(217, 217, 217); */
    display: flex;
}

.top-header .logoarea {
    padding-left: 10px;
    width: 15%;
    height: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
}

.logo-a {
    margin: 0 auto;
    width: 75px;
    height: 75px;
}

.logo {
    width: 75px;
    height: 75px;
}

.top-header .navarea {
    width: 85%;
    height: 100%;
    /* background-color: bisque; */
    position: relative;
}

.navarea .nav {
    width: 400px;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    right: 0;
}

.nav-item {
    font-size: 18px;
    transition: color 0.3s;
    font-weight: bold;
}

.nav-item:hover {
    background-color: rgb(241, 241, 241);
    color: #3EE9B9;
}

/* --- 탭 바 (헤더 하단 일단 추가함 홍섭님이랑 얘기후 없애도됌) --- */
.tab-bar {
    display: flex;
    height: 40px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f7f7f7;
    flex-shrink: 0;
    overflow-x: auto;
    white-space: nowrap;
}

.tab {
    padding: 0 15px;
    cursor: pointer;
    border-right: 1px solid #dcdcdc;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666;
    transition: background-color 0.2s;
    background-color: #eee;
    user-select: none;
}

.tab.active {
    background-color: #e6e6e6;
    color: #333;
    font-weight: 500;
}

.tab .close-btn {
    margin-left: 10px;
    font-size: 12px;
    color: #999;
    cursor: pointer;
    padding: 2px;
}















/* footer ============================================================================================= */
footer {
    margin-top: 150px;
    width: 100%;
    /* border: 1px solid; */
}

.footnavwrap {
    /* background-color: black; */
    width: 100%;
    min-width: 450px;
    height: 50px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    background-color: #f7f7f7;
}

.footnav {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* font-weight: bold; */
    margin: 0 auto;
    margin: 0 20px;
}


.footnav>div {
    width: 1px;
    height: 15px;
    border-left: 1px solid;
}

.footnav>li {
    font-size: 0.9rem;
    color: #c1c1c1;
    text-align: center;
}

.footnav>li>a {
    color: black;
    text-decoration: none;
}

.footnav>li>a:hover {
    color: #3EE9B9;
    background-color: #f7f7f7;
}

/* 드롭다운 스타일 */
.dropdown {
    position: relative;
}

.dropdown>.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid rgb(227, 225, 225);
    border-radius: 5px;
    padding: 5px 0;
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    /* 드롭다운이 다른 요소 위에 보이도록 z-index 추가 */
}

.dropdown>.dropdown-menu>li {
    height: 30px;
    padding: 5px 20px;
}

.dropdown>.dropdown-menu>li>a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

.dropdown>.dropdown-menu>li>a:hover {
    color: #3EE9B9;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.footnav>li:nth-child(9) {
    font-weight: 700;
}

.footnav>li:nth-child(11) {
    font-weight: 700;
}

.footnav>li:nth-child(13) {
    font-weight: 700;
}

.footmainwrap {
    width: 100%;
    height: auto;
    /* background-color: green; */
}

.footmain {
    margin: 0 auto;
    /* background-color: yellow; */
    width: 80%;
    height: auto;
    display: flex;
    gap: 50px;
}

.footsection {
    width: 300px;
    height: 220px;
    padding-top: 60px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* align-items: start; */

    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.footsection>h2 {
    font-size: 25px;
    width: 100%;
    /* background-color: red; */
    text-align: center;
}

.footsection>p {
    text-align: center;
    width: 100%;
    /* background-color: blue; */
    color: rgb(88, 88, 88);
    font-size: 15px;

}


.footbar {
    width: 100%;
    height: auto;
    margin-top: 40px;
    /* background-color: blue; */
    color: rgb(88, 88, 88);
    ;
}

.footbarwrap {
    width: 80%;
    height: 100%;
    /* background-color: #3EE9B9; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

@media (max-width:1080px) {
    .footnavwrap {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footnav {
        height: 70%;
        white-space: nowrap;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* padding:20px 0; */
        row-gap: 10px;
    }

    .footmain {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

}

@media (max-width:960px) {
    .footnav {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media (max-width:824px) {
    .footnav {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width:722px) {
    .footnavwrap {
        height: 150px;
        margin-bottom: 50px;
    }

    .footnav {
        grid-template-columns: repeat(6, 1fr);
        row-gap: 3px;
    }

    .footmain {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .footsection {
        padding: 20px 0;
        height: auto;
        margin: 0 auto;
    }

}

@media (max-width:515px) {
    .footnav {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 10px;
    }
}


/* aside + mainwrapper 공통 css */

/* aside_L css */
#aside_L {
    width: 14%;
    min-width: 242px;
    height: 1200px;
    background: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 16px;
}

.side_nav {
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
    /* height: 330px; */
    position: relative;
}

.slt_wrap {
    border-bottom: 2px solid #e6e6e6;
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#followscr>ul {
    width: 90%;
    height: 216px;
    margin: 0 auto;
    padding: 10px 0;
    border: 2px solid #e6e6e6;
    /* background-color: #f6f6f6; */
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 6px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.side_item {
    border: 1px solid #bbc4d5;
    border-radius: 10px;
    background-color: #f1f1f1;
    width: 90%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.side_item.active {
    border: 1px solid #3EE9B9;
    background: #eafffa;
    color: #0369a1;
}

.side_note {
    font-size: 12px;
    color: #2c4b77;
    width: 90%;
    margin: 0 auto;
}

.side-item:hover {
    cursor: pointer;
}

.si_free:hover {
    transition: 0.1s;
    border: 2px solid #b2b8c6;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.si_free:active {
    transition: 0.1s;
    border: 2px solid #3EE9B9;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.05);
    color: #0369a1;
}

.si_notice:hover {
    transition: 0.1s;
    border: 2px solid #b2b8c6;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.si_notice:active {
    transition: 0.1s;
    border: 2px solid #3EE9B9;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.05);
    color: #0369a1;
}

.si_CL:hover {
    transition: 0.1s;
    border: 2px solid #b2b8c6;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.si_CL:active {
    transition: 0.1s;
    border: 2px solid #3EE9B9;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.05);
    color: #0369a1;
}

.si_IS:hover {
    transition: 0.1s;
    border: 2px solid #b2b8c6;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.si_IS:active {
    transition: 0.1s;
    border: 2px solid #3EE9B9;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.05);
    color: #0369a1;
}

#followscr {
    /* border: 1px solid; */
    width: 100%;
    height: 270px;
    top: 0;
    position: absolute;

}



/* aside_R css */

#aside_R {
    width: 14%;
    min-width: 242px;
    height: 1200px;
    background: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 16px;

    position: relative
}

#followscr2 {
    /* border: 1px solid; */
    width: 100%;
    height: 240px;
    top: 0;
    position: absolute;
}

/* 오른쪽 프로필 카드 */
.profile_card {
    width: 100%;
    height: 237px;
    border: 2px solid #e6e6e6;
    background-color: #fff;
    border-radius: 16px;
    /* padding: 15px 5px; */
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}

.p_header {
    width: 100%;
    height: 60%;
    /* background-color: red; */
    padding: 0 5px;
    border-bottom: 2px solid #e6e6e6;
}

.p_user {
    /* border: 1px solid; */
    display: flex;
}

.p_img {
    border-radius: 16px;
    width: 64px;
    height: 64px;
    border-radius: 999px;

    font-weight: 900;
    background-color: rgb(1, 1, 92);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.p_name {
    /* border: 3px solid; */
    width: 70%;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
    justify-content: center;
    padding-left: 20px;
}

.p_state_label {
    /* background-color: red; */
    /* background-color: 2px solid; */
    min-width:58px;
    width: 40%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    line-height: 2px;
}

.p_status_dot {
    width: 8px;
    height: 8px;
    border-radius: 999px;
    cursor: pointer;
    transition: transform 0.2s;
}

.p_status_dot:hover {
    transform: scale(1.2);
}

.p_status_dot.online {
    background: #22c55e;
}

.p_status_dot.offline {
    background: #94a3b8;
    /* 회색 */
}

#pStateText {
    font-size: 12px;
    color: #64748b;
}


.p_message {
    font-size: 13px;
    color: #334155;
    margin-top: 6px;
    word-break: break-word;
}

.p_actions {
    border-top: 2px solid #e6e6e6;
    padding: 0 5px;
    /* background-color: green; */
    width: 100%;
    height: 40%;
}

.p_btn {
    border: 2px solid rgb(180, 178, 178);
    border-radius: 10px;
    background-color: #f8fafc;
    width: 90%;
    height: 40px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.05);
}

.p_btn:hover {
    cursor: pointer;
    transition: 0.08s;
    border: 3px solid #b2b8c6;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.p_btn:active {
    transition: 0.08s;
    border: 2px solid #b2b8c6;
    box-shadow: none;
}

.meta {
    font-size: 12px;
    color: #64748b;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* 메인 영역 프레임, 타이틀까지 */
#main {
    width: 70%;
    min-width: 920px;
    height: auto;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;

}


.mainComponent{
    width: 100%;
    height:auto;
    max-height: 1200px;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 16px;
    padding: 16px 16px 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;

}

/* BOARD TOP */
.board_card {
    width: 96%;
    height: auto;
    background-color: rgb(248,248,248);
    border: 2px solid #e6e6e6;
    border-radius: 16px;
    margin: 0 auto;
    box-shadow: 3px 5px 10px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
}

.commu_title {
    width: 100%;
    height: 70px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.commu_title>h1 {
    font-size: 1.8rem;
    font-weight: 800;
}

