    /* <!-- 고객센터 css --> */

    /* <!-- 아이콘 --> */

        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 500,
                'GRAD' 0,
                'opsz' 24
        }



    /* <!-- 공지사항 스와이퍼 --> */
    /* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"> */


        .main {
            /* background-color: rgb(242, 242, 236); */
            background:radial-gradient(900px 600px at 50% 0%, rgba(34, 197, 94, .10), transparent 150%);
        }

        .main>.section-wrapper {

            margin: 0 20vw;
            /* background-color: beige; */
}

        /* section 1*/

        .main>.section-wrapper>.section1 {
            padding: 40px;
            /* border: 1px solid red; */
            /* background:radial-gradient(900px 600px at 50% 0%, rgba(34, 197, 94, .10), transparent 90%); */
            /* background-color: black; */
        }

        .main>.section-wrapper>.section1>.s1-h2 {
            text-align: center;
            margin: 30px 0;
        }

        .main>.section-wrapper>.section1>.s1-h2>h2 {
            font-size: 2.5rem;
            font-weight: 600;

        }

        .main>.section-wrapper>.section1>.search-box {
            margin: 50px 0;
            /* border: 1px solid; */
            padding: 30px;
            height: 100px;
            
        }

        .main>.section-wrapper>.section1>.search-box>form {
            display: flex;
            align-items: center;
            margin: auto;
            border: 2px solid;
            border-radius: 15px;
            height: 50px;
            background-color: white;
        }

        .main>.section-wrapper>.section1>.search-box>form>input {
            border: none;
            font-size: 1.8rem;
            width: 90%;
            height: 100%;
            margin-left: 30px;
        }

        .main>.section-wrapper>.section1>.search-box>form>input:focus {
            outline: none;
            box-shadow: none;
        }

        .main>.section-wrapper>.section1>.search-box>form>button {
            border: none;
            background-color: white;
            height: 30px;
            margin-right:5px;

        }

        .main>.section-wrapper>.section1>.keyword {
            /* border: 1px solid; */
            height: 50px;
            display: grid;
            grid-template-columns: repeat(7,1fr);
            align-items: center;
            gap: 20px;
            
            flex-wrap: wrap;
            
        }

        .main>.section-wrapper>.section1>.keyword>strong {
            /* border: 1px solid; */
            width: 90px;
            
        }

        .main>.section-wrapper>.section1>.keyword>a {
            font-size: 0.8rem;
            border: 1px solid lightgray;
            border-radius: 20px;
            padding: 6px 12px;
            display: inline-block;
            text-align: center;
            
            white-space: nowrap;
            box-sizing: border-box;
            
        }
        .main>.section-wrapper>.section1>.keyword>a:hover {
            text-decoration: underline;
        }






        /* section2 */
        .main>.section-wrapper>.section2 {
            /* background-color: rgb(249, 242, 232); */
            /* margin-bottom: 70px; */
            display: flex;
            /* border: 1px solid blue; */
            justify-content: start;
            align-items: center;
            /* padding: 0 40px; */
            gap: 20px;
        }

        .main>.section-wrapper>.section2 .sd-1-1 {
            border: 1px solid rgb(185, 184, 184);
            width: 50px;
            /* background-color: #3EE9B9; */
            color: rgb(33, 33, 33);
            border-radius: 13px;
            font-size: .8rem;
            padding: 3px 7px;
            margin-left: 10px;
            text-align: center;
            margin-right: 5px;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            /* text-overflow: ellipsis */
        }

        .main>.section-wrapper>.section2 .sd-1-2 {
            border: 1px solid rgb(185, 184, 184);
            /* background-color: #3EE9B9; */
            /* background: radial-gradient(green white red); */
            color: rgb(33, 33, 33);
            border-radius: 13px;
            font-size: .8rem;
            padding: 3px 7px;
            margin-left: 10px;
            width: 80px;
            text-align: center;
            margin-right: 5px;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;

        }
        .main>.section-wrapper>.section2 .sd-1-3 {
            border: 1px solid rgb(185, 184, 184);
            /* background-color: #3EE9B9; */
            color: rgb(33, 33, 33);
            border-radius: 13px;
            font-size: .8rem;
            padding: 3px 7px;
            margin-left: 10px;
            width: 50px;
            text-align: center;
            margin-right: 5px;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
        }
        .main>.section-wrapper>.section2 .sd-1-4 {
            border: 1px solid rgb(185, 184, 184);
            /* background-color: #f4ff5c; */
            color: rgb(33, 33, 33);
            border-radius: 13px;
            font-size: .8rem;
            padding: 3px 7px;
            margin-left: 10px;
            width: 65px;
            text-align: center;
            margin-right: 5px;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
        }

        .main>.section-wrapper>.section2>.sd-1>span {
        }


        .main>.section-wrapper>.section2>.sd-2 {
            /* border: 1px solid; */
            width: 50vw;
        }

        .main>.section-wrapper>.section2>div>.swiper {}

        .main>.section-wrapper>.section2>div>.swiper>.swiper-wrapper {}
        .main>.section-wrapper>.section2>div>.swiper>.swiper-wrapper>.swiper-slide {
        }
        .main>.section-wrapper>.section2>div>.swiper>.swiper-wrapper>.swiper-slide>a {
            white-space: nowrap; /*(줄바꿈없애기) 텍스트가 줄바꿈 없이 한 줄로 표시*/
            overflow: hidden; /*넘치는 부분은 숨김*/
            text-overflow: ellipsis; /*넘치는 텍스트를 ...로 표시*/
        }
        .main>.section-wrapper>.section2>div>.swiper>.swiper-wrapper>.swiper-slide>a:hover {
            text-decoration: underline;
        }



        .main>.section-wrapper>.section2>.sd-3 {
            /* border: 1px solid; */
            width: 120px;
        }

        .main>.section-wrapper>.section2>.sd-3>a {
            /* color: #3EE9B9; */
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;

        }


        .mySwiper {
            height: 40px;
            /* 한 줄 높이 */
            overflow: hidden;
        }

        .swiper-slide {
            display: flex;
            align-items: center;
        }




        /* section3 */
        .main>.section-wrapper>.section3 {
            /* border: 1px solid red; */
            /* height: 1000px; */
            /* padding: 0 20px; */
            /* margin-bottom: 50px; */
        }

        .main>.section-wrapper>.section3>.s3-h2 {
            /* background-color: beige; */
            /* border: 1px solid; */
            text-align: center;
            margin: 30px auto;
        }

        .main>.section-wrapper>.section3>.s3-h2>h2 {
            font-size: 2.5rem;
            font-weight: 600;
        }

        .main>.section-wrapper>.section3>.card-area {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            /* 한 줄에 4개 */
            gap: 30px;
            /* 버튼 사이 간격 */
        }

        .main>.section-wrapper>.section3>.card-area>.Q-card {
            background-color: azure;
            border: 2px solid lightgray;
            border-radius: 15px;
            height: 150px;
            padding: 15px;
        }

        .main>.section-wrapper>.section3>.card-area>.Q-card:hover {
            border:2px solid #3EE9B9;
            cursor: pointer;
        }

        .main>.section-wrapper>.section3>.card-area>.Q-card>.card-title {
            height: 80%;
        }

        .main>.section-wrapper>.section3>.card-area>.Q-card>.card-title>.q {
            font-weight: 600;
            font-size: 1.5rem;
        }

        .main>.section-wrapper>.section3>.card-area>.Q-card>.card-title>.q-content {
            font-size: 1.2rem;
            font-weight: 500;

        }

        .main>.section-wrapper>.section3>.card-area>.Q-card>.card_tag {
            border: 1px solid #b2d8cb;
            border-radius: 5px;
            padding: 5px;
            color: rgb(75, 75, 75);
            background-color: #b9f8e3;
            font-size: 0.8rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* 숨겨진 q카드-------------------------------------------------------- */

        .hidden {
            display: none;
        }

        .main>.section-wrapper>.section3>.btn-parent {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .main>.section-wrapper>.section3>.btn-parent>.loadMoreBtn {

            margin: 25px;
            padding: 8px 25px;
            border: 1px solid #ccc;
            border-radius: 15px;
            background: #f5f5f5;
        }

        .main>.section-wrapper>.section3>.btn-parent>.loadMoreBtn:hover {
            background-color: #3EE9B9;
        }








        /* section4 */
        .main>.section-wrapper>.section4 {
            /* border: 1px solid blue; */
            /* background-color: rgb(244, 244, 244); */
            margin: 50px 0;
            height: 500px;
            margin-top: 120px;
        }
        
        .main>.section-wrapper>.section4>.s4-h2 {
            /* background-color: beige; */
            text-align: center;
            margin: 30px 0;
            margin-bottom: 50px;
        }

        .main>.section-wrapper>.section4>.s4-h2>h2 {
            font-size: 2.5rem;
            font-weight: 600;
        }

        .main>.section-wrapper>.section4>.mush-wrap {
            /* border: 1px solid; */
            /* background-color: rgb(249, 241, 232); */
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 50px;
            /* height: 520px; */
        }

        .main>.section-wrapper>.section4>.mush-wrap>.mush-con {
            /* border: 1px solid rgb(221, 221, 221); */
            margin: 1px;
            /* padding: 20px; */
            display: flex;
            justify-content: center;
        }
        .main>.section-wrapper>.section4>.mush-wrap>.mush-con:hover {
            /* border: 2px solid #3EE9B9; */
        }
        .main>.section-wrapper>.section4>.mush-wrap>.mush-con:hover .mush-con-text{
            background-color: rgb(248, 248, 248);
            color: #3EE9B9;

        }
        
        .main>.section-wrapper>.section4>.mush-wrap>.mush-con>a {
            display: block;
            /* 또는 inline-block */
            width: 100%;
            /* mush-con 안에서 꽉 차게 */
            height: 100%;
            /* 필요시 */
            text-align: center;
        }

        .main>.section-wrapper>.section4>.mush-wrap>.mush-con>a>.mush-con-text {
            /* border: 1px solid; */
        }

        .main>.section-wrapper>.section4>.mush-wrap>.mush-con>a>div>img {
            border-radius: 35%;
            width: 85px;
            height: 85px;
            margin-bottom: 10px;
        }

        .main>.section-wrapper>.section4>.mush-wrap>.mush-con>a>div>div {
            font-size: 1.3rem;
        }









        /* section5 */
        .main>.section-wrapper>.section5 {
            /* border: 1px solid red; */
        }

        .main>.section-wrapper>.section5>.s5-h2 {
            text-align: center;
            margin: 30px auto;


        }

        .main>.section-wrapper>.section5>.s5-h2>h2 {
            /* background-color: beige; */
            font-size: 2.5rem;
            font-weight: 600;
        }

        .main>.section-wrapper>.section5>.s5-cardwrap {
            display: flex;
            gap: 20px;
            padding: 10px;
        }

        .main>.section-wrapper>.section5>.s5-cardwrap>a {
            border: 3px solid white; 
            background-color: whitesmoke;
            border-radius: 10px;
            padding: 12px;
            width: 25vw;
        }

        .main>.section-wrapper>.section5>.s5-cardwrap>a:hover {
            border: 3px solid #3EE9B9;
        }

        .main>.section-wrapper>.section5>.s5-cardwrap>a>.s5-card-title {
            font-size: 1.2rem;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .main>.section-wrapper>.section5>.s5-cardwrap>a>.s5-card-title>.material-symbols-outlined {
            font-size: 2.5rem;
            color: #3EE9B9;

        }

        .main>.section-wrapper>.section5>.s5-cardwrap>a>.s5-card-title>strong {
            text-justify: center;
        }

        .main>.section-wrapper>.section5>.s5-cardwrap>a>.s5-card-info {
            color: black;
            font-size: .8rem;
            margin-top: 15px;
        }
