* {
    box-sizing: border-box;
}

/* 나눔동화또박 폰트를 불러오는 설정 */

body {
}

#main {
    margin: 0 auto;
    width: 1200px;
    padding: 20px 0;
    background:
        /* 상단 그라데이션 */
        radial-gradient(900px 600px at 50% 0%, rgba(34, 197, 94, .10), transparent 150%);
    /* 하단 그라데이션 (아주르색과 흰색) */
    /* radial-gradient(1200px 700px at 20% 100%, rgba(135, 206, 250, 0.1), rgba(255, 255, 255, 0.7)); */
}


.title {
    /* border: 1px solid; */
    padding: 0 100px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    position: relative;

}

.directing {
    width: 150px;
    height: 25px;
    /* border: 1px solid; */
    position: absolute;
    margin-top: -150px;
    margin-left: 850px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.d-line {
    border-left: 1px solid;
    height: 75%;
    margin-right: 20px;
}

.directing-new {
    width: 50%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    /* align-items: center; */
    justify-content: start;
}

.directing-new>a {

    font-weight: 500;
}

.directing-new>a:hover {
    font-weight: 600;
}

.directing-list {
    width: 50%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    /* align-items: center; */
    justify-content: start;
}

.directing-list>a {
    font-weight: 500;
}

.directing-list>a:hover {
    font-weight: 600;

}


#useriqr {
    /* border: 1px solid; */
    width: 100%;
    height: 700px;
    /* background-color: rgb(151, 168, 163); */

}

.useriqr-hd {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    margin: 0 auto;
    width: 100%;
    height: 18%;
    /* background-color: azure; */
    display: flex;
    padding: 0 90px;

}

.useriqr-hd>h2 {
    /* border: 1px solid; */
    width: 75%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.useriqr-info {
    width: 35%;
    /* background-color: rgb(255, 255, 255); */
    /* border: 1px solid red; */
}



.useriqr-fdate {
    width: 100%;
    height: 25%;
    /* border: 1px solid; */
    font-weight: 500;
}

.useriqr-ldate {
    width: 100%;
    height: 25%;
    /* border: 1px solid; */
    font-weight: 500;
}

.useriqr-state {
    width: 100%;
    height: 25%;
    /* border: 1px solid; */
    font-weight: 500;
}

.useriqr-btn {
    /* border: 1px solid; */
    width: 100%;
    height: 25%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: end;
    gap: 15px;
}

.useriqr-btn>.lll {
    border: 1px solid;
    height: 70%;
    border-color: rgb(235, 235, 235);

}

.useriqr-ubtn {
    /* border: 1px solid; */
    margin-bottom: 3px;

}

.useriqr-ubtn>button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    background-color: #f0fbf4;
    font-weight: 500;

}

.useriqr-dbtn>button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    background-color: #f0fbf4;
    color: red;
    font-weight: 500;

}

.useriqr-dbtn {
    margin-bottom: 3px;

}

.useriqr-main {
    /* border: 1px solid; */
    margin: 0 auto;
    width: 85%;
    height: 82%
        /* background-color: rgb(245, 245, 245); */
        /* padding: 0 30px; */

}

.bliqr-hd {
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: azure;
    display: flex;
    padding: 0 100px;
}

.bliqr-hd>h2 {
    border: 1px solid;
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.bliqr-main {
    margin: 0 auto;
    width: 85%;
    height: 700px;
    /* background-color: rgb(245, 245, 245); */
    padding: 0 30px;
}

.useriqr-main-text {
    /* border: 1px solid; */
    padding-top: 20px;
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    overflow-y: auto;
    padding-right: 50px;

}



.infowrap {
    border-top: 5px solid rgb(240, 240, 240);
    /* border: 1px solid; */
    margin-top: 50px;
    width: 100%;
    height: 150px;
    /* background-color: rgb(142, 142, 142); */
    padding: 0px 100px;
    margin-bottom: 50px;
    padding-top: 50px;
}

.info {
    width: 100%;
    height: 66.6666%;
    /* background-color: aquamarine; */
}

.infoitems {
    height: 50%;
}

.supdirect {
    width: 100%;
    height: 33.3333%;
    /* background-color: blanchedalmond; */
}

.supdirectlink {
    color: red;
}