* {
    box-sizing: border-box;
}


body {
    overflow-x: hidden;
    font-family: 'NanumDonghwaTobak', sans-serif;
}

#main {
    min-width: 520px;
    /* 상단 그라데이션 */
    background: radial-gradient(900px 600px at 50% 0%, rgba(34, 197, 94, .10), transparent 150%);
    display: flex;
}

.mainwrap {
    /* margin-top: 50px; */
    margin: 30px auto 0;
    width: 1200px;
    padding: 20px 0;
    border: 2px solid #e6e6e6;
    background-color: #fff;
    border-radius: 16px;
    height: auto;
    max-height: 1400px;
    overflow: hidden;

}

.title {
    border: 3px solid #e6e6e6;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.02);
    width: 90%;
    height: 180px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    margin-bottom: 50px;
    padding: 0 30px
}

.infowrap {
    /* border: 1px solid; */
    width: 90%;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 1.1rem;
}

.info {
    /* border: 1px solid; */
    width: 100%;
    height: 66.6666%;
    /* background-color: aquamarine; */
}

.infoitems {
    height: 50%;
}

.supdirect {
    width: 100%;
    height: 33.3333%;
    /* background-color: blanchedalmond; */
}

.supdirectlink {
    color: red;
}

.supdirectlink:hover {
    text-decoration: underline;
}

.tbl-con {
    width: 100.0511%;
    margin: 0 auto;
    height: auto;
    max-height: 838px;
    overflow-y: auto;
    overflow-x: hidden;

    background-color: #fff;
    /* border: 2px solid #e6e6e6; */
    /* border-radius: 16px; */
    /* box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.05); */
    padding: 3px 2px;
}

.list {
    width: 100%;
    margin: 0 auto;
    /* height: 2000px; */
    height: auto;
    background-color: #fff;
    /* border: 1px solid; */
    border-radius: 16px;
    overflow: hidden;
    /*넘치는 부분은 숨김*/
    border-collapse: collapse;
}

.listhead {
    width: 100%;
    height: 40px;
    background-color: rgb(201, 255, 237);

}

.listitemt {
    width: auto;
}

.listitemd {
    width: 70px;
    min-width: 70px;
}

.listitem {
    width: 105px;
    min-width: 105px;
}

.listitemp {
    width: 200px;
    min-width: 160px;
}

td {
    height: 60px;
    max-height: 60px;
    border-top: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    background-color: white;
}

.listitemc {
    width: auto;
    height: 60px;
    padding-left: 10px;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.listitemccc {
    text-align: center;
    width: 105px;
    min-width: 105px;

}

.listitemcc {
    text-align: center;
    width: 160px;
    min-width: 160px;
}

.tbubtn {
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;

}

.tbubtn:hover {
    cursor: pointer;
}

.tbubtn:active {
    cursor: pointer;
}

.tbdbtn {
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    color: red;
}

.tbdbtn:hover {
    cursor: pointer;
}

.tbdbtn:active {
    cursor: pointer;
}

.btnarea {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    /* background-color: rgb(175, 225, 225); */
    padding: 0 100px;
    display: flex;
    justify-content: end;
}

#supbtn {
    width: 200px;
    height: 60px;
    /* border: 1px solid #3EE9B9; */
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(235, 234, 234);
    font-size: 18px;
}

#supbtn:hover {
    background-color: #3EE9B9;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#supbtn:active {
    background-color: #a5e3d1;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


@media (max-width:1080px) {
    .mainwrap {
        width: 80%;
    }

    .tbl-con{
        width: 90%;
    }

    .listitemp{
        display: none;
    }
    .listitemcc{
        display: none;
    }

    .listitemt{
        /* min-width: 300px; */
    }
}

@media (max-width:750px){
    .mainwrap{
        width: 80%;
    }

    .title{
        width: 380px;
    }

    .listitemt{
        width: 50%;
    }
    .listitemc{
        width: 50%;
    }
    .listitemc>a{
        width: 80%;
    }
    .infowrap{
        min-width: 382px;
        /* height: 200px; */
        font-size: 0.9rem;
    }

    .btnarea{
        padding: 0;
    }
    #supbtn{
        width: 90%;
        margin: 0 auto;
    }

}