* {
    box-sizing: border-box;
}

body {
    font-family: 'NanumDonghwaTobak', sans-serif;
}

#main {
    margin: 0 auto;
    width: 1200px;
    height: 1200px;
    padding: 20px 0;
    background:
        /* 상단 그라데이션 */
        radial-gradient(900px 600px at 50% 0%, rgba(34, 197, 94, .10), transparent 150%);
    /* 하단 그라데이션 (아주르색과 흰색) */
    /* radial-gradient(1200px 700px at 20% 100%, rgba(135, 206, 250, 0.1), rgba(255, 255, 255, 0.7)); */
}

.support {
    width: 100%;
    height: 100%;
    /* background-color: rgb(189, 175, 175); */
}

.suptitle {
    padding: 0 100px;
    width: 100%;
    height: 200px;
    /* background-color: rgb(179, 177, 175); */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 1.5rem;

}


.supinfo {
    width: 100%;
    height: 100px;
    /* background-color: rgb(142, 142, 142); */
    padding: 0px 100px;
}

.supinfoitems {
    width: 100%;
    height: 33.3333%;
    /* background-color: rgb(167, 188, 188); */
    display: flex;
    /* border: 1px solid; */

}

.supdirect {
    width: 100%;
    height: 25px;
    /* background-color: rgb(191, 221, 221); */
    padding: 0px 100px;
}

.supdirecttext {
    /* background-color: beige; */
}

.supdirectlink {
    color: red;
}

.supdirectlink:hover {
    text-decoration: underline;
}

.supchoice {
    width: 100%;
    height: 150px;
    /* background-color: azure; */
    display: flex;
    flex-direction: column;
    padding: 30px 100px;

}

#inquiry-type {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    font-size: 1.1rem;
    color: rgb(68, 68, 68);
    padding: 0 10px;
    border-radius: 4px;

}

.supmain {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

#supmaintitle {
    font-size: 15px;
    height: 36px;
    resize: none;
    outline: none;
    width: 100%;
    font-size: 20px;
    padding: 0 10px;
}

#supmaintext {
    margin-top: 30px;
    width: 100%;
    height: 500px;
    font-size: 15px;
    resize: none;
    /* color: rgb(68, 68, 68); */
    /* border-bottom: 2px solid #0000007e; */
    outline: none;
    border-radius: 4px;
    padding: 0 10px;
    line-height: 1.5;
}

#charcount {
    font-size: 12px;
    color: rgb(68, 68, 68);
}



.btnarea {
    width: 100%;
    height: 100px;
    /* background-color: rgb(175, 225, 225); */
    padding: 0 100px;
    display: flex;
    justify-content: end;
}

#supbtn {
    width: 200px;
    height: 60px;
    /* border: 1px solid #3EE9B9; */
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(235, 234, 234);
    font-size: 18px;
}

#supbtn:hover {
    background-color: #3EE9B9;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
#supbtn:active {
    background-color: #a5e3d1;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.error-message {
            color: red;
            font-size: 0.9em;
            margin-top: 5px;
            margin-bottom: 10px;
}
.is-invalid {
   /* border: 2px solid red !important;*/
}