        * {
            margin: 0px;
            padding: 0px;
            font-size: 16px;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .container {
            width: 100%;
            height: 1000px;
            margin: 0px auto;
            text-align: center;
            background-color: #fcfcfc;
        }

        .formbox {
            /* border: 1px solid; */
            width: 400px;
            height:900px;
            margin: auto;
        }

        .logo2 {
            color: #3ee9b9;
            height: 70px;
            font-weight: 700;
            font-size: 75px;
            /* margin-top: 30px; */
            margin-bottom: 50px;
            text-shadow: 5px 4px 1px lightgray;
        }

        .desc {
            width: 400px;
            height: 50px;
            border-radius: 10px;
            margin-bottom: 20px;
            background-color: #FCF9F4;
            line-height: 10px;
            cursor: pointer;
            border-style: none;
            box-shadow: 5px 4px 5px rgb(231, 231, 231);
        }

        .google{
            color: black;
        }

        input {
            width: 400px;
            height: 50px;
            border-radius: 10px;
            margin-bottom: 10px;
            background-color: #FCF9F4;
            border-style: none;
            box-shadow: 5px 4px 5px rgb(231, 231, 231);
        }

        .phonenumber {
            margin: 20px 0 10px 0;
        }

        .policy {
            margin-top: 20px;
            color: #888;
            font-size: 12px;
        }

        .pol{
            color: blue;
        }

        .submit-btn {
            margin-top: 60px;
            margin-bottom: 20px;
            width: 400px;
            height: 50px;
            border-radius: 10px;
            background-color: #3ee9b9;
            cursor: pointer;
            box-shadow: 5px 4px 5px rgb(231, 231, 231);
            border-style: none;
        }

        .divider {
            display: flex;
            align-items: center;
            margin: 10px 0;
        }

        .divider::before,
        .divider::after {
            content: "";
            flex: 1;
            height: 0.5px;
            background: #444;
        }

        .divider span {
            margin: 0 10px;
            color: #888;
            font-size: 13px;
        }

        .login-btn2 {
            background-color: #FCF9F4;
            width: 400px;
            height: 50px;
            margin-top: 10px ;
            border-style: none;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 5px 4px 5px rgb(231, 231, 231);
        }

        .join{
            color: white;
            font-size: 16px;
            font-weight: bold;
        }