.wrapper {
    /* border:1px solid; */
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    padding-bottom:50px;
}
.imagebox{
    /* border:1px solid; */
    width:600px;
    height:600px;
    display:flex;
    justify-content:center;
    align-items:center;
    /* margin:0 auto; */
}
.imagebox>img {
    width:600px;
    height: 600px;
}
.formbox {
    /* border:1px solid; */
    width:350px;
    /* margin:0 auto; */

    display:flex;
    flex-direction:column;
    justify-content:start;
    margin-top:80px;
/*    gap:20px;*/

}
.logobox {
    /* border:1px solid; */
    width:100%;
    height:auto;
    /*border:1px solid;*/

    display:flex;
    align-items:center;
    justify-content:center;
}
.logobox>img{
    height:180px;
}
.why_no_class{
    display:flex;
    flex-direction:column;
    gap:5px;
}

.inputbox {
    /*border:1px solid blue;*/
    height:auto;
    align-content: center;
    text-align: center;
    padding: 0 15px;
    margin-bottom:20px;
}

.go {
    border:1px solid;
    background-color: #3ee9b9;
    width:100%;
    height:40px;
    border:none;
    padding:10px;
    margin-top: 20px;
    border-radius: 10px;
    cursor:pointer;
    font-weight: bold;
    color:darkslategray;
}
input {
    display: block;
    height:40px;
    width:100%;
    margin-top: 5px;
    border-radius: 10px;
    border:1px solid rgba(128,128,128,.2);
    padding-left:10px;
    }

input:focus {
    outline: none;
    border: 1px solid #3ee9b9;
    box-shadow: 0 0 8px rgba(62, 233, 185, 0.4);
    transition: all 0.3s ease;
}


.inputbox .kakao {
    display: block;
    background-color: yellow;
    width:100%;
    height:40px;
    border:none;
    padding:10px;
    margin-top: 20px;
    border-radius: 10px;
    cursor:pointer;
    font-weight:900;
    color:darkslategray;
}

.inputbox .naver {
    display: block;
    background-color: #03A94D;
    width:100%;
    height:40px;
    border:none;
    padding:10px;
    margin-top: 20px;
    border-radius: 10px;
    cursor:pointer;
    font-weight: 900;
    color:darkslategray;
}

.account_wrap{
    /*border:1px solid red;*/
    width:100%;
    height:auto;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:10px;
}

.divider {
    display: flex;
    align-items: center;
    gap:12px;
    margin:14px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #444;
}
.find-pw{
    width:100%;
    /* background-color: aqua; */
    text-align: center;
}
.find-pw>a{
    text-decoration: none;
    color:#444;
    font-weight: bold;
}
.find-pw>a:hover {
    text-decoration: underline;
}
.joinus{
    width:100%;
    /* background-color: aqua; */
    text-align: center;
}
.joinus>a {
    text-decoration: none;
    font-weight: bold;
    color:darkblue;
}
@media (max-width:900px){
.imagebox{
    display: none;
}
}

